.cart-main{
    padding: 0 110px;
    margin: 50px 0 80px 0;
}
.cart-head{
    padding: 0 30px;
}
.cart-head h2{
    font-size: 28px;
}
.cart-main-tab-inner-head{
    padding-bottom: 15px;
    border-bottom: .5px solid #ddd;
}
.cart-main-tab{
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 15px;
}
.cart-main-tab-inner-item{
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
    display: inline-flex;
    align-items: center;
}
.cart-product-image-title{
    display: inline-flex;
    align-items: center;
}
.cart-main-tab-inner-item:last-child{
    border-bottom: 0px;
}
.cart-product-image img{
    height: 100px;
    width: 100px;
}
.cart-product-title h3{
    font-size: 18px;
    margin: 0;
}
.cart-product-price p{
    font-size: 16px;
    margin: 0px;    
}
.cart-product-total p{
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}
.cart-product-delete a{
    height: 20px;
    width: 20px;
    display: block;
    margin: auto;
    margin: 0px;
}
.cart-product-delete a img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*quantity button group*/
.quantity {
  display: flex;
  margin-top: 13px;
}
.quantity button {
  padding: 10px 15px;
  background-color: #ddd;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.quantity button.down {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.quantity button.up {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.quantity input {
    padding: 0 5px;
    width: 50px;
    font-size: 16px;
    border-style: solid;
    border-color: #ddd;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 0;
    border-right-width: 0;
    text-align: center;
    height: 40px;
}
.quantity input:active,.quantity input:focus,.quantity input:hover,.quantity input:visited{
    outline: none;
}

/*address tab*/
.address-tab-inner{
    margin-top: 30px;
    padding: 15px 0px 30px 0px;
    border: 1px solid #ddd;
}
.address-tab-inner-head h4{
    margin-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
}
.address-tab-inner-details{
    padding: 0 30px;
}
.address-tab-inner-details table tbody tr th{
    width: 17%;
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
}
.address-tab-inner-details table tbody tr td{
    padding-right: 15px;
    font-size: 16px;
}


/*cart summary tab*/
.cart-summary-tab-inner{
    margin-top: 30px;
    padding: 15px 0px 30px 0px;
    border: 1px solid #ddd;
}

.cart-summary-tab-inner-head h4{
    margin-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
}
.cart-summary-tab-inner-details{
    padding: 0 30px;
}
.cart-summary-tab-inner-details table{
    width: 100%;
}
.cart-summary-tab-inner-details table tbody tr th{
    float: left;
    font-size: 16px;
    padding: 10px 0;
}
.cart-summary-tab-inner-details table tbody tr td{
    float: right;
    font-size: 16px;
    padding: 10px 0;
}
.cart-summary-tab-inner-details table tbody tr:nth-child(2){
    border-top: 3px solid #ddd;
}
.cart-summary-tab-inner-details table tbody tr:nth-child(2) th{
    font-size: 26px;
}
.cart-summary-tab-inner-details table tbody tr:nth-child(2) td{
    font-size: 26px;
    font-weight: 600;
}


/*credit card tab*/
.credit-card-details h4 p{
    font-size: 14px;
    display: inline-block;
}
.credit-card-details{
    padding: 15px 20px;
    border: 1px solid #ddd;
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.credit-card-inputs{
    border: 0;
    border-bottom: 2px solid #ddd;
    padding: 10px 0px;
    width: 100%;
    background-color: transparent;
    background:transparent;
    font-size: 16px;
    margin-bottom: 25px;
}
.credit-card-inputs:active,.credit-card-inputs:focus,.credit-card-inputs:hover,.credit-card-inputs:visited{
  outline: none;
}
.place-order-btn{
    padding: 15px 35px;
}

@media screen and (max-width: 767px){
     .cart-main{
        padding: 0 15px;
        margin-top: 25px;
    }
    .cart-main-tab-inner-head .tab-xs h4{
        font-size: 16px;
    }
    .cart-main-tab{
        padding:0; 
    }
    .cart-main-tab-inner-head{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .cart-main-tab-inner{
        padding: 0 10px;
    }
    .cart-product-image img{
        height: 50px;
    }
    .cart-product-title h3{
        font-size: 14px;
    }
    .cart-product-price p{
        font-size: 14px;
    }
    .quantity input{
        padding: 0 2px;
        width: 25px;
        font-size: 14px;
        height: 30px;
    }
    .cart-product-quantity input.qtyminus{
        width: 30px;
    }
    .cart-product-quantity input.qtyplus{
        width: 30px;
    }
    .cart-product-total p{
        font-size: 14px;
    }
    .cart-product-delete a {
        height: 10px;
        width: 15px;
        margin-top: -5px;
    }
    .cart-product-image-title{
        padding-left: 0px;
    }
    .cart-summary-tab-inner-head h4{
        padding-left: 0px;
    }
    .cart-main-tab-inner-head .tab-xs:nth-child(1){
        padding-left: 0px;
    }
    .cart-main-tab-inner-item{
        padding-right: 5px;
    }
    .address-tab{
        padding-right: 0px;
    }
    .cart-summary-tab{
        padding-left: 0px;
    }
    .address-tab-inner-details table tbody tr th{
        font-size: 14px;
        width: 25%;
    }
    .address-tab-inner-details table tbody tr td{
        font-size: 14px;
    }
    .address-tab-inner-details {
        padding: 0 10px;
    }
    .address-tab-inner-head{
        padding: 0 10px;
    }
    .address-tab-inner-head h4{
        padding-left: 0;
    }
    .cart-head h2{
        font-size: 24px;
    }
    .cart-head{
        padding: 0;
    }
    .cart-summary-tab-inner-head{
        padding: 0 10px;
    }
    .credit-card-inputs{
        font-size: 14px;
    }
    .place-order-btn {
        padding: 15px 20px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    .cart-main{
        padding: 0 30px;
    }
    .address-tab,.cart-summary-tab{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}