.contact-main{
	margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.flex-middle{
	display: flex;
	align-items: center;
}
.contact-icon{
	font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    padding: 17px 20px;
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
}
.contact-form{
	border: 2px solid #ddd;
    padding: 20px 20px;
    margin: 50px 0;
}
.contact-details-main{
	text-align: left;
	margin: 50px 0;
}

@media screen and (max-width: 767px){
    
    .flex-middle{
        display: block;
    }
    .contact-details-main{
        margin:30px 0; 
    }
    .contact-form{
        margin: 30px 0; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact-main .flex-middle{
        width: 100%;
        margin-left: 0;
    }

}