/*main slider*/

.slider__warpper{
    height:calc(100vh - 180px)
}

.slider__navi {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
}
.slider__navi a {
    display: block;
    height: 6px;
    width: 20px;
    margin: 20px 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    background: rgba(0,0,0,0.2);
}
.slider__navi a.active {
    background: rgba(255,255,255,1);
}
.flex__container {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap; 
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    height: inherit;
    width: 100%;
    z-index: 1;
}
.flex__container.flex--active {
    z-index: 2;
}
.text--sub {
    font-size: 12px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.text--big {
    font-size: 5.5em;
    font-weight: 700;
    line-height: 80px;
    margin-left: -8px;
    margin-top: 0;
    margin-bottom: 0;
}

.text--normal {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 22px;
    margin-top: 25px;
}

.text__background {
    position: absolute;
    left: 72px;
    bottom: -60px;
    color: rgba(0,0,0,0.05);
    font-size: 170px;
    font-weight: 700;
}

.flex__item {
    height: inherit;
    color: #fff;
    transition: transform 0.1s linear;
}

.flex__item--left {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    width: 65%;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
    opacity: 0;
    position: relative;
    overflow: hidden;
}

.flex__item--right {
    width: 35%;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
    opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
    opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
    background: #3e9fe6;
}

.flex--piplup .flex__item--right {
    background: #d3eaef;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
    background: #f8d41f;
}

.flex--pikachu .flex__item--right {
    background: #f4ecc5;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
    background: #f64f37;
}

.flex--blaziken .flex__item--right {
    background: #ffebcd;
}

/* Dialga */

.flex--dialga .flex__item--left {
    background: #476089;
}

.flex--dialga .flex__item--right {
    background: #ade8f7;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
    background: #424242;
}

.flex--zekrom .flex__item--right {
    background: #a7bcbb;
}

.flex__content {
    margin-left: 80px;
    width: 76%;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.model-img {
    position: absolute;
    bottom: 0;
    right: 15%;
    height: 70vh;
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
    transform: translate3d(0,-200%,0);
    opacity: 0;
}

.flex__container.animate--start .model-img {
    transform: translate3d(-200px,0,0);
    opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
    transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
    transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
    transform: translate3d(0,200%,0);
    opacity: 0;
}

.flex__container.animate--end .model-img {
    transform: translate3d(200px,0,0);
    opacity: 0;
}

/*category slider*/

.category-slider-tabs{
    border-radius: 100%;
    border: 2px solid #ddd;
    height: 125px;
    width: 125px;
    margin: auto;
}
.category-slider-tabs a:hover,.category-slider-tabs a:active,.category-slider-tabs a:focus{
    text-decoration: none;
}

.category-slider-tabs a img{
    width: 55px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.category-slider-tabs a p{
    text-align: center;
}
.category-slider-head h3::before{
    content: '';
    height: 2px;
    width: 40px;
    background-color: #333;
    position: absolute;
    left: 0px;
    top: 32px;
}
.category-slider-head h3{
    padding-left: 44px;
}
.category-slider-head{
    width: 22%;
}
.category-slider-main{
    display: flex;
    padding: 4% 85px;
    align-items: center;
}
.category-slider{
    width: 78%;
}

/*discount offer */

.discount-banners-left-inner{
    display: flex;
    align-items: center;
    padding: 0;
    height: 55vh;
    overflow: hidden;
    background-image: url(../images/women-model.jpeg);
    background-size: cover;
}
.discount-banners-right-inner{
    padding: 0;
    height: inherit;
    display: flex;
    align-items: center;
}
.discount-offer-banners-right{
    background-image: url(../images/men-model.jpeg);
    background-size: cover;
    height: 55vh;
    overflow: hidden;
}
.banner-left-left-inner{
    padding: 15px 15px 40px 30px;
}
.banner-left-left-inner h3{
    font-weight: 700;
    margin-bottom: 3px;
}
.discount-number p{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #8a2be2;
}
.discount-number p sup{
    font-size: 13px;
    color: #000;
}
.discount-number p sub{
    font-size: 13px;
    color: #000;
}
.banner-left-left{
    z-index: 10;
}
.lines-hr{
    margin-bottom: 15px;
}
.lines-hr span{
    display: block;
}
.lines-hr span:nth-child(1){
    height: 1px;
    width: 60px;
    background-color: #dddddd;
    margin-bottom: 5px;
}
.lines-hr span:nth-child(2){
    height: 1px;
    width: 50px;
    background-color: #dddddd;
    margin-bottom: 5px;
}
.lines-hr span:nth-child(3){
    height: 1px;
    width: 40px;
    background-color: #dddddd;
    margin-bottom: 5px;
}

.banner-right-top-inner {
    padding: 15px 15px 40px 30px;
    text-align: left;
    z-index: 100;
}
.banner-right-top-inner h3{
    margin-bottom: 3px;
    font-weight: 700;
}
.banner-right-top-inner p{
    margin-bottom: 2px;
}
.discount-offer-banners{
    padding: 0% 85px 3% 85px;
}
.banner-right-bottom{
    overflow: hidden;
    margin-top: -6%;
}
.banner-right-bottom-inner{
    width: 85%;
    float: right;
    z-index: 1;
}
.banner-right-top-inner .discount-number{

}


/*service tab*/
.service-feature-inner-tab img{
    height: 50px;
    width: 50px;
}
.service-feature{
    padding: 20px 70px 65px 70px;
}
.service-feature-inner-tab{
    border: 1px solid #ddd; 
    padding: 30px 15px 15px 25px;
    box-shadow: 0px 2px 10px 0px #ddd;
}




/*media queries*/

@media screen and (max-width: 767px){
    /*index main slider*/
    .slider__warpper {
        height: calc(75vh - 180px);
    }
    .model-img{
        right: 0;
        height: 40vh;
    }
    .flex__content {
        margin-left: 30px;
    }
    .text--big{
        font-size: 30px;
        line-height: 40px;
        line-height: 33px;
        margin-left: 0px;
    }
    .text--normal{
        font-size: 14px;
        line-height: 18px;
    }

    /*category slider*/
    .category-slider-main{
        padding: 5% 30px;
    }
    .category-slider-main{
        padding: 5% 30px;
        display: block;
    }
    .category-slider-head{
        width: 100%;
        display: block;
    }
    .category-slider{
        width: 100%;
    }
    .category-slider-tabs{
        height: 100px;
        width: 100px;
        margin:unset;
    }
    .category-slider-tabs a img{
        margin-bottom: 0;
        margin-top: 8px;
    }

    /*discount offer banners*/
    .discount-offer-banners{
        padding: 25px 0px 0 0px;
    }
    .discount-banners-left-inner{
        background-position-x: 3%;
    }
    .banner-right-top-inner{
        padding: 15px 30px 40px 15px;
        text-align:right;
    }
    .discount-offer-banners-right{
        background-image: url(../images/men-model-mobile.jpeg);
        background-position: 41% 46%;
        background-size: 217%;
    }
    .mobile-line-hr {
        width: 16%;
        float: right;
    }

    /*featured slider*/
    .product-tabs-main{
        padding: 20px 0 40px 0;
    }
    .product-tab-top{
        height: 47vh;
    }

    /*service tab*/
    .service-feature {
        padding: 40px 15px 60px 15px;
    }
    .service-feature-inner-tab{
        height: 205px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .slider__warpper {
        height: calc(75vh - 180px);
    }
    .model-img{
        right: 0%;
        height: 50vh;
    }
    .text--big{
        font-size: 4.3em;
        line-height: 1;
    }
    .category-slider-main{
        padding: 4% 40px;
    }
    .category-slider-head{
        width: 30%;
    }
    .category-slider {
        width: 70%;
    }
    .discount-offer-banners{
        padding: 0;
    }
    .discount-banners-left-inner{
        height: 50vh;
        background-position: 30%;
    }
     .discount-banners-right-inner{
        height: 50vh;
    }
    .discount-offer-banners-right{
        height: 50vh;
        background-image: url(../images/men-model-mobile.jpeg);
        background-position: 7%;
    }
    .service-feature {
        padding: 20px 30px 30px 30px;
    }
    .service-feature .service-feature-inner{
        width: 50%;
        margin-bottom: 30px;
    }

}

@media screen and (min-width: 1600px) and (min-height: 700px) {
    .product-tabs-main{
        height: 85vh;
    }
    .widget-tab{
        height: 42vh;
    }
}



