.order-detail-main{
	margin-top: 50px;
	margin-bottom: 70px;
	padding: 0 70px;
}
.order-detail-address-tab{
    border: 2px solid #ddd;
    padding: 25px;
}
.order-detail-address-tab ul li{
	list-style-type: none;
}
.order-detail-address-tab p{
	margin-top: 15px;
	padding-left:20px;
}
.order-detail-address-tab h4{
	padding-left: 20px;
}
.order-details-tab{
    border: 2px solid #ddd;
    padding: 25px 45px 25px 45px;
    margin-top: 20px;
}
.order-details-tab table{
	width: 100%;
	table-layout: fixed;
	margin-bottom: 0;
}
.order-details-tab table thead tr th, .order-details-tab table tbody tr td{
	border:0;
}
.order-details-tab table thead tr th:nth-child(2){
	text-align: center;
}
.order-details-tab table thead tr th:nth-child(3){
	text-align: right;
}
.order-details-tab table tbody tr td:nth-child(2){
	text-align: center;
}
.order-details-tab table tbody tr td:nth-child(3){
	text-align: right;
}


/*order table list*/


.order-detail-table-main-tab{
    border: 2px solid #ddd;
    margin-top: 20px;
    padding: 15px 45px 15px 45px;
}
.order-detail-table-inner-item{
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    display: inline-flex;
    align-items: center;
}
.order-detail-table-inner-item:last-child{
    border-bottom: 0px;
    display: inline-flex;
    align-items: center;
}
.order-detail-table-inner-head {
    padding-bottom: 15px;
    border-bottom: .5px solid #ddd;
}
.order-detail-image-title{
	display: inline-flex;
    align-items: center;
}
.order-detail-image img{
    height: 100px;
    width: 100px;
}
.order-detail-title h3{
    font-size: 18px;
    margin:0; 
}
.order-detail-price p{
    font-size: 16px;
    margin:0px; 
}
.order-detail-total p{
    font-size: 16px;
    margin:0; 
    font-weight: 700;
}
.order-detail-quantity p{
	margin:0; 
}

@media screen and (max-width: 767px){
    .order-detail-main{
        padding: 0 30px;
    }
    .order-detail-address-tab{
        padding: 20px 5px;
    }
    .order-details-tab{
        padding: 20px 17px;
    }
    .order-details-tab table thead tr th:nth-child(2){
        width: 10%;
    }
    .order-detail-table-main-tab{
        padding: 15px 10px 15px 10px;
    }
    .order-detail-table-inner-head h4{
        font-size: 16px;
    }
    .order-detail-image img{
        height: 50px;
    }
    .order-detail-title h3,.order-detail-price p{
        font-size: 14px;
    }
    .order-detail-quantity p{
        font-size: 14px;
        text-align: center;
    }
    .order-detail-total{
        padding: 0;
    }
    .order-detail-total p{
        font-size: 14px;
    }
    .order-detail-image-title{
        padding-left: 0px;
    }
    .order-detail-image-head{
        padding-left: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .order-detail-main{
        padding: 0 30px;
    }

}