.order-history-tab{
	margin-top: 50px;
}

.order-history-select{
	width: 30%;
    border:2px solid #ddd;
   	background: #fff;
    padding-left: 5px;
}
.no-order-para p{
	text-transform: uppercase;
}
.order-history-table{
	margin-top: 25px;
}
.order-history-table .table>tbody>tr>td, .order-history-table .table>tbody>tr>th, .order-history-table .table>tfoot>tr>td, .order-history-table .table>tfoot>tr>th, .order-history-table .table>thead>tr>td, .order-history-table .table>thead>tr>th{
	vertical-align: middle;
}	
.order-history-tab-inner{
	margin-bottom: 20px;
}

@media screen and (max-width: 767px){
	.order-history-tab{
		padding: 0;
	}
	.order-history-select{
		width: 70%;
	}
	.order-history-table{
		overflow: auto;
	}
}