    body{
	padding: 0px;
	margin:0;
	font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,span,div,p,section,a{
	font-family: 'Poppins', sans-serif;
}
.no-pad-lr{
	padding-left: 0;
	padding-right: 0px;
}
.no-pad-l{
	padding-left: 0px;
}
.no-pad-r{
	padding-right: 0px;
}

.main-btn {
    padding: 10px 30px;
    color: #000;
    background: none;
    border: 2px solid #000;
    position: relative;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;   
    letter-spacing: 0.2px;
    cursor: pointer;
}
/*.main-btn:after, .main-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.main-btn:after {
  -webkit-transform: translate(2.5px, 2.5px);
          transform: translate(2.5px, 2.5px);
}
.main-btn:before {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
}
.main-btn:hover:after, .main-btn:hover:before {
  -webkit-transform: translate(0);
          transform: translate(0);
}*/
.main-btn:focus, .main-btn:active , .main-btn:visited{
	outline: none;
    color: #000;
}

.table-btn {
    padding: 7px 15px;
    background: none;
    border: none;
    position: relative;
    border: 2px solid #000;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    letter-spacing: 0px;
    margin-bottom: 4px;
    text-align: center;
    margin-top: 2px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
}
.table-btn:hover,.table-btn:active,.table-btn:focus{
	color: #000;
}
.err_mes_tab{
    font-size: 10px;
    font-weight: 700;
}

#main-error-message{
    font-weight: 700;
}


/*
.table-btn:after, .table-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.table-btn:after {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}
.table-btn:before {
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}
.table-btn:hover:after, .table-btn:hover:before {
  -webkit-transform: translate(0);
          transform: translate(0);
}*/

/*inputs*/

.main-input{
    border: 0;
    border-bottom: 2px solid #ddd;
    padding: 10px 0px;
    width: 100%;
    font-size: 16px;
}
.main-input:active,.main-input:focus,.main-input:hover,.main-input:visited{
  	outline: none;
}

/*navbar*/

.navbar{
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
.nav-inner{
	padding: 0 70px;
	border-bottom: 1px solid #ddd;
}
.brand-logo{
	padding: 15px 0px;
    text-align: center;
}
.brand-logo a{
    position: relative;
    display: block;
    width: 35%;
    margin: auto;
}    
.brand-logo a img{
	width: 100px;
	margin:auto;
}
.search-bar{
	text-align: left;
    padding: 30px 0;
}	
.search-bar form{
	text-align: left;
}
.search-bar form input{
    background-color: #ddd;
    box-shadow: none;
    border: 0;
    padding: 13px 15px;
    border-radius: 34px;
    padding-right: 45px;
    padding-left: 20px;
}
.search-bar form input:hover, .search-bar form input:focus, .search-bar form input:active{
	outline: none;
	border: 0px;
}
.search-submit{
    background: none;
    padding: 0;
    position: absolute;
    height: 46px;
    margin-left: -40px;
}
.search-submit img{
    width: 26px;
}
.navbar-right-tab{
	padding: 28px 0;
}
.user-account{
    padding: 15px;
    text-align: center;
}
.cart{
	margin-left: 5px;
}
.cart .badge{
	    margin-left: -10px;
    position: absolute;
    background: #ff0000;
    right: -10px;
}
.cart{
	border: 1px solid #ddd;
    padding: 15px;
    display: inline-block;
    text-align: center;
}
.wishlist{
	margin-left: 5px;
}
.wishlist{
	border: 1px solid #ddd;
    padding: 15px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
}
.main-menu{
	padding: 0;
	border-bottom: 1px solid #ddd;
}
.categories-menu-tab{
    padding: 20px 15px;
	border-right: 1px solid #ddd;
    position: relative;
    background: #fafafa;
    display: block;
    color: #000;
    font-size: 16px;
    padding-left: 70px;
}
.categories-menu-tab:hover{
	background-color: #d9121f;
	color: #ffffff;
}
.arrow-icon{
	width: 12px;
    margin-left: 5px;
}
.navbar-right-tab i{
	color: #000;
}
.navbar-right-tab a:hover, .navbar-right-tab a:active, .navbar-right-tab a:focus{
	background-color: #d9121f;
	color: #ffffff;
}
.navbar-right-tab a:hover>i, .navbar-right-tab a:active>i, .navbar-right-tab a:focus>i{
	color: #ffffff;
}
.main-menu a:hover, .main-menu a:active, .main-menu a:focus{
	text-decoration: none;
}
.category-menu-wrapper{
	background-color: #333333;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10000000;
    margin-top: 20px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
}
.categories-menu-hover:hover .category-menu-wrapper{
	visibility: visible;
    opacity: 1000;
    z-index: 100000000;
    margin-top: 0px;
}
.main-menu-tabs li a{
    padding: 20px 25px;
    color: #000;
    font-size: 16px;
    display: inline-block;
}
.category-menu-tab{
	padding-inline-start: 0;
    margin:0;
}
.category-menu-tab li{
	list-style-type: none;
    border-bottom: 1px solid rgba(221, 221, 221, 0.1803921568627451);
    margin: 0;
}
.main-menu-menu-tab{
	padding: 17px 25px 17px 60px;
	color: #ffffff;
		transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    display: block;	
}
.main-menu-menu-tab span{
	color: #fff;
}
.main-menu-menu-tab:hover,.main-menu-menu-tab:active,.main-menu-menu-tab:focus{
	color: #ffffff;
	text-decoration: none;
}
.main-menu-menu-tab:hover{
	background-color:#2d2d2d; 
	background:#2d2d2d;	
}
.main-menu-menu-tab .next{
	float: right;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.main-menu-menu-tab .prev{
	padding: 0 0px;
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;	
}
.main-menu-menu-tab:hover>i.next{
	opacity: 0;
	margin-right: -10px;
} 
.main-menu-menu-tab:hover>i.prev{
	padding: 0 15px;
	opacity: 1;
}
.badge{
	background-color: #1349b2;
	background:#1349b2;
}
.list-inline{
	margin-bottom: 0;
}
.sub-menu{
	padding-inline-start:0px;
	position: absolute;
    z-index: 1000;
    background: #fff;
    width: 300px;
    box-shadow: 0px -3px 23px 1px #dca5a5;
	margin-top: 6px;
	padding: 20px 0 40px 0;
	display: none;
	margin-top: -5px;
    margin-left: -4px;

}
.sub-menu::before{
	content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: -10px;
    background-color: #fff;
    background: #fff;
    border-top-left-radius: 100%;
    transform: rotate(225deg);
    left: 25px;
    z-index: 10000;
}
.sub-menu li{
	list-style-type: none;
    border-bottom: 1px solid #ddd;
	background: #ffff;
}
.sub-menu li a{
	display: block;
	padding: 12px 25px;
    text-align: left;
}
.sub-menu li a span{
	color: #000;
}
.sub-menu li a i{
	color: #000;
}
.sub-menu li a:hover,.sub-menu li a:focus,.sub-menu li a:active{
	background-color: #ffffff;
}

.menu-parent:hover > .sub-menu{
	display: block;

}

/*product tab*/
.product-tabs-main{
    padding: 0% 55px 25px 55px;
}
.product-tabs-main-tab .nav-tabs{
    text-align: center;
    border: 0;
}
.product-tabs-main-tab .nav-tabs li{
    float: unset;
    display: inline-block;
}
.product-tabs-main-tab .nav-tabs li a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.product-tabs-main-tab .nav-tabs li a:hover{
    background-color: transparent;
    border: 0;
}
.product-tabs-main-tab .nav-tabs li.active a{
    border: 0;
    border-bottom: 4px solid #ddd;
}
.product-tabs-main-tab .nav-tabs{
    padding: 1.5% 0 1% 0;
}
.product-tab{
    border: 1px solid #ddd;
    margin-bottom: 10px;
    box-shadow: 0px 2px 10px 0px #ddd;
    padding: 7px;
}
.product-tab a{
    color: #000;
}
.product-tab a:hover,.product-tab a:focus,.product-tab a:active{
    color: #000;
    text-decoration: none;  
}
.product-tab-top{
    height: 40vh;
    overflow: hidden;
}
.product-tab-bottom{
    text-align: left;
    margin-bottom: 10px;
}
.product-tab-bottom a h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.product-tab-bottom .list-price{
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 5px;
}
.product-tab-bottom .price{
    font-size: 20px;
    font-weight: 600;
    margin-left: 6px;
}
.product-tab-bottom .main-btn{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.slider-wrapper .jcarousel ul li{
    padding: 15px;
}
.slider-wrapper #prev-one{
    right: 10%;
    top: -40px;
    left: unset;
}
.slider-wrapper #next-one{
    right: 7%;
    top: -40px;
    left: unset;
}
.more-btn{
    text-decoration: none;
    color: #4c4c4c;
    font-weight: 700;
    border: 3px solid #ddd;
    padding: 4px 10px;
    position: absolute;
    top: -55px;
    right: 0;
    margin: 0 11px 0px 0;
}
.more-btn:hover,.more-btn:focus,.more-btn:active{
    color: #4c4c4c;
}



/*footer tab*/
.footer{
    background: #1f1f1f;
    padding: 3% 0px 0px 0px;
}
.widget-tab .logo{
    width: 109px;
    margin-top: 12px;
}
.widget-tab .address-info{
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}
.widget-tab .phone-info,.widget-tab .email-info{
    color: rgba(255, 255, 255, 0.51);
}
.widget-tab .social-icons a i{
    color: rgba(255, 255, 255, 0.51);
    padding: 15px 25px 15px 0px;
    font-size: 25px;
}
.widget-tab h3{
    color: #ffffff;
    margin-bottom: 45px;
}
.widget-tab h3::before{
    content: '';
    height: 4px;
    width: 35%;
    background-color: #ff0000;
    position: absolute;
    top: 92px;
}
.second-widget-tab a{
    color: rgba(255,255,255,0.51);
    display: block;
    margin-bottom: 15px;
}
.second-widget-tab a:hover,.second-widget-tab a:active,.second-widget-tab a:focus{
    outline: none;
    color: #ffffff;
    text-decoration: none;
}
.third-widget-tab a{
    color: rgba(255,255,255,0.51);
    display: block;
    margin-bottom: 15px;
}
.third-widget-tab a:hover,.third-widget-tab a:active,.third-widget-tab a:focus{
    outline: none;
    color: #ffffff;
    text-decoration: none;
}
.footer-insta-gallery div{
    padding: 7px 3px;
    height: 101px;
    overflow: hidden;
}
.footer .footer-top{
    padding: 0 85px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}
.cta-icon span i{
    font-size: 60px;
    float: right;
    color: rgba(255,255,255,0.5);
}
.footer-cta{
    padding: 0 60px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
    padding-bottom: 40px;
}
.cta-info h4{
    color: #ffffff;
}
.cta-info p{
    color: rgba(255,255,255,0.51);
}
.cta-btn::after, .cta-btn::before{
    border-color: #ffffff;
}
.cta-btn{
    color: #ffffff;
    margin-top: 9px;
    border-color:#ffffff ;
    margin-left: 22%;
}
.widget-tab{
    padding-top: 35px;
    padding-bottom: 35px;
    height: 50vh;
    overflow: hidden;
}
.first-widget-tab,.second-widget-tab,.third-widget-tab{
    border-right: 1px solid rgba(221, 221, 221, 0.3);
}
.second-widget-tab{
    padding-left: 40px;
}
.third-widget-tab{
    padding-left: 40px;
}
.fourth-widget-tab{
    padding-left: 40px;
}
.footer-bottom p{
    margin: 0;
    color: #fff;
    padding: 30px 0;
}


/*media queries*/

@media screen and (max-width: 767px){
	/*navbar*/
	.nav-inner{
		padding: 0 15px;
	}
	.search-bar{
		padding: 10px 0;
	}
	.search-bar form input{
		width: 100%;
	}
	.search-submit{
		top: 0;
    	right: 14px;
    	margin-left: 0;
	}
	.brand-logo {
	    padding: 0px 0px;
	    text-align: left;
	}
	.brand-logo a{
		width: 30%;
		margin:unset;
		display: inline-block;
	}
	/*hamburg menu*/
	.menu-wrapper {
	    position: relative;
	    height: inherit;
	}

	.hamburger-menu,
	.hamburger-menu:after,
	.hamburger-menu:before {
	    width: 40px;
		height: 3px;
		float: right;
	}

	.hamburger-menu {
	  position: relative;
	  transform: translateY(30px);
	  background: #000;
	  float: right;
	  transition: all 0ms 300ms;
	}
	.hamburger-menu:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: 12px;
	  background: #000;
	  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.hamburger-menu:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 12px;
	  background: #000;
	  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.mobile-nav-menu{
		height: 66px;
        margin-top: 6px;
            margin-right: 15px;
	    width: 40px;
	    display: inline-block;
	    float: right;
	    position: relative;
	    text-align: right;
	}

	/*mobile navbar*/
    .mobile-navbar{
		width: 100%;
		height: 100vh;
		background: #333333;
		position: fixed;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		z-index: 100000000;
	    left: 0px;
        left: -100%;
	    top: 0px;	
	}
    .close-sidebar{
        padding: 9px 11px;
        color: #fff;
        background: transparent;
        opacity: 0.6;
        font-size: 15px;
        border: 0;
        position: absolute;
        right: 5px;
        top: 5px;    
    }
    .close-sidebar:hover,.close-sidebar:focus,.close-sidebar:active,.close-sidebar:visited{
        outline: none;
        opacity: 1;
    }

    .mobile-navbar .sidebar{
        height: inherit;
        padding-top: 30px;
        width: 100%;
        overflow-y: scroll;
    }
	.sidebar #leftside-navigation ul,
	.sidebar #leftside-navigation ul ul {
	  margin: 0px 0 0;
	  padding: 0;
	}
	.sidebar #leftside-navigation ul li {
	  list-style-type: none;
	  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	}
	.sidebar #leftside-navigation ul li.active > a {
	  color: #1abc9c;
	}
	.sidebar #leftside-navigation ul li.active ul {
	  display: block;
	}
	.mobile-sub-menu a {
	  color: #ffffff;
	  text-decoration: none;
	  outline: 0;
	    padding: 20px;
    	display: block;
	  -webkit-transition: all 100ms ease-in;
	  -moz-transition: all 100ms ease-in;
	  -o-transition: all 100ms ease-in;
	  -ms-transition: all 100ms ease-in;
	  transition: all 100ms ease-in;
	}
	.sidebar #leftside-navigation ul li a:hover {
	  color: #ffffff;
	}
	.sidebar #leftside-navigation ul li a span {
	  display: inline-block;
	}
	.sidebar #leftside-navigation ul li a i {
	}
	.sidebar #leftside-navigation ul li a i .fa-angle-left,
	.sidebar #leftside-navigation ul li a i .fa-angle-right {
	  padding-top: 3px;
	}
	.sidebar #leftside-navigation ul ul {
	  display: none;
	}
	.sidebar #leftside-navigation ul ul li {
	  background: #000000;
	  margin-bottom: 0;
	  margin-left: 0;
	  margin-right: 0;
	  border-bottom: none;
	}
	.sidebar #leftside-navigation ul ul li a {
	  font-size: 14px;
	  padding-top: 13px;
	  padding-bottom: 13px;
	  color: #aeb2b7;
	}
	.mobile-sidebar-header{
		border: 1px solid #a8a2a2;
	    border-radius: 100px;
	    text-align: center;
	    background: black;
    	border: 0;
	    margin-top: 20px;
	    width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	    height: 100px;
	    margin-bottom: 20px;
	}
	.mobile-sidebar-header .user-account{
	    margin-top: -30px;
	    border: 1px solid #ddd;
	    padding: 23px;
	    height: 80px;
	    font-size: 24px;
    	color: #fff;
	    width: 80px;
	    display: inline-block;
	    position: relative;
	    background: #ddd;
	    color: #000;
	    vertical-align: middle;
	}
	.mobile-sidebar-header .wishlist {
	    width: unset;
	    border: none;
	    display: inline-block;
	    margin-left: 20px;
	    padding: 30px 15px;
	    font-size: 24px;
    	color: #ddd;
	    height: unset;
	}
	.mobile-sidebar-header .cart {
	    width: unset;
	    margin-right: 20px;
	    border: none;
	    font-size: 24px;
    	color: #ddd;
	    display: inline-block;
	    padding: 30px 15px;
	    height: unset;
	}
	.mobile-sub-menu ul li a{
		padding-left: 60px;
	}
	.mobile-sidebar-header .cart .badge{
		right: 27px;
	    background: #ddd;
	    color: #000;
	}


    /*slider left right more btn*/
    .slider-wrapper #prev-one{
        top: unset;
        bottom: -30px;
        left: 15px;
        right: unset;
        font-size: 18px;
    }
    .slider-wrapper #next-one{
        top: unset;
        bottom: -30px;
        left: 60px;
        right: unset;
        font-size: 18px;
    }
    .slider-wrapper .more-btn{
        top: unset;
        bottom: -30px;
        left: unset;
        right: 4px;
    }

    /*footer*/

    .footer-cta{
        padding: 15px 30px 30px 30px;
    }
    .footer-cta .cta-tab{
        padding: 0;
    }
    .footer-cta .cta-tab .col-xs-12{
        padding: 0;
    }
    .footer-cta .cta-tab .cta-icon{
        display: flex;
        height: 70px;
        align-items: center;
        padding: 0;
    }
    .footer-cta .cta-tab .cta-icon .fa-envelope{
        font-size: 48px;
        float: left;
    }
    .footer-cta .cta-tab .cta-icon .fa-phone-volume{
        font-size: 44px;
        margin-left: 10px;
    }
    .cta-btn{
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    .footer .footer-top{
        padding: 0 30px;
    }
    .first-widget-tab, .second-widget-tab, .third-widget-tab, .fourth-widget-tab{
        border: 1px solid rgba(221, 221, 221, 0.3);
        border-top: 0;
    }
    .widget-tab{
        height: 44vh;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .widget-tab h3::before{
        top: 67px;
    }
    .widget-tab h3{
        margin-bottom: 35px;
    }
    .fourth-widget-tab{
        border-bottom: 0;
    }
    .table-btn{
        padding: 7px 5px;
    }
    .product-tab-bottom h4{
        font-size: 22px;
    }
}
@media screen and (max-width: 767px) and (min-height: 800px) and (max-height: 960px){
    .widget-tab {
        height: 38vh;
    }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .categories-menu-hover{
        display: none;
    }
    .main-menu-sm{
        width: 100%;
    }
    .nav-inner{
        padding: 0 30px;
    }
    .search-submit{
        margin-left: 0;
        right: 0;
        top: 0;
    }
    .product-tabs-main {
        padding: 25px 15px 15px 15px;
    }
    .product-tab-top{
        height: 22vh;
    }
    .product-tabs-main-head h2, .product-tabs-main-head p{
        text-align: left;
        padding-left: 15px;
    }
    .slider-wrapper #prev-one{
        right: 18%;
    }
    .slider-wrapper #next-one{
        right: 13%;
    }
    .cta-tab{
        width: 50%;
    }
    .cta-tab:nth-child(3){
        width: 100%;
        text-align: center;
    }
    .cta-tab:nth-child(3) .cta-btn{
        margin-left: unset;
    }
    .footer-cta{
        padding: 0 30px;
        padding-bottom: 40px;
    }
    .footer .footer-top{
        padding: 0 30px;
    }
    .first-widget-tab{
        width: 50%;
        height: 36vh;
        border-bottom: 1px solid #ddd;
    }    
    .second-widget-tab{
        width: 50%;
        height: 36vh;
        border-bottom: 1px solid #ddd;
        border-right: 0;
    }
    .third-widget-tab{
        width: 50%;
        height: 36vh;
        padding-left: 15px;        
    }
    .fourth-widget-tab{
        width: 50%;
        height: 36vh;
    }


}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .product-tab-top{
        height: 34vh;
    }
    .first-widget-tab, .second-widget-tab{
        height: 46vh;
    }
    .third-widget-tab, .fourth-widget-tab{
        height: 50vh;
    }
    .cta-tab, .cta-tab:nth-child(3){
        width: 33.33333333%;
    }

}

@media screen and (min-width: 1500px){
    .product-tab-top{
        height: 45vh;
    }
}