.wishlist-tab-main{
	margin-top: 50px;
}
.wishlist-tab-main p{
	text-transform: uppercase;
}


.wishlist-main-tab-inner-head{
    padding-bottom: 15px;
    border-bottom: .5px solid #ddd;
}
.wishlist-main-tab{
    border: 2px solid #ddd;
    margin-top: 20px;
    padding: 15px;
}
.wishlist-main-tab-inner-item{
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
    display: inline-flex;
    align-items: center;
}
.wishlist-product-image-title{
    display: inline-flex;
    align-items: center;
}
.wishlist-main-tab-inner-item:last-child{
    border-bottom: 0px;
}
.wishlist-product-image img{
    height: 100px;
    width: 100px;
}
.wishlist-product-title h3{
    font-size: 18px;
    margin: 0;
}
.wishlist-product-price p{
    font-size: 16px;
    margin: 0px;    
}
.wishlist-delete-product a{
    height: 20px;
    width: 20px;
    display: block;
    margin: auto;
    margin: 0px;
}
.wishlist-delete-product a img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px){
    .wishlist-main-tab-inner-head h4{
        font-size: 16px;
    }
    .wishlist-product-image img{
        height: 50px;
    }
    .wishlist-main-tab{
        padding: 10px;
    }
    .wishlist-main-tab-inner-head .head-xs:nth-child(1){
        padding-right: 15px;
    }
    .wishlist-main-tab-inner-head .head-xs{
        padding: 0;
    }
    .wishlist-product-image-title{
        padding-left: 0;
    }
    .wishlist-product-title h3{
        font-size: 16px;
    }
    .wishlist-product-price{
        padding-left: 0;
    }
    .wishlist-add-to-cart-btn{
        padding-right: 0;
    }

} 